.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.card {
    width: 390px;
    height: 255px;
    margin: 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
    position: relative;
    height: 50px;
    background-color: #444851;
    width: 190px;
    border-radius: 0;
    border: none;
}

.title:hover {
    background-color: #FE6700;
    outline: none;
    border: none;
}

.title button :active:focus {
    background-color: #FE6700;
    outline: none;
    border: none;
}

.cartBtn {
    height: 50px;
    border-radius: 0;
}

.title h3 {
    font-size: 18px;
    color: white;
    position: relative;
    top: 3px;
}

