

.cardButtons {
    display: flex;
    justify-content: space-between;

}

.empty {
    margin: 20px;
}

.byBtn {
    border: 1px solid #151515 !important;
    padding-right: 10px;
    width: 150px;
}

.media {
    height: 220px;
}

.icon {
    cursor: pointer;

}

.title {
    display: flex;
}

.price {
    display: flex;
}

.card {
    margin: 10px 5px 0 5px;
    max-height: 440px;
    transition: 0.8s;
    box-shadow: none !important;
}

.card:hover {
    transition: 0.2s;
    transform: scale(1.02);
    box-shadow: none;
}
