

.cardButtons {
    display: flex;
    justify-content: space-between;

}

.empty {
    margin: 20px;
}

.byBtn {
    border: 1px solid #FE6700;
    padding-right: 10px;
    width: 150px;
}

.media {
    height: 220px;
}

.icon {
    cursor: pointer;

}

.title {
    display: flex;
}

.price {
    display: flex;
}

.card {
    margin: 5px;
    max-height: 440px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.8s;
}

.card:hover {
    transition: 0.2s;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
