/*.searchInput {*/
/*    padding: 5px;*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    font-size: 16px;*/
/*}*/

/*.header {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    background-color: #444851;*/
/*    max-height: 40px;*/
/*    min-height: 40px;*/
/*    font-size: 16px;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*    padding: 0 50px 0 50px;*/
/*}*/

/*.links {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.links {
    margin: 0 10px 0 10px;
}

.searchResult {
    border-radius: 0 0 10px 10px;
    position: absolute;
    z-index: 100;
    top: 50px;
    margin-left: 20px;
    width: 270px;
    height: auto;
    font-size: 1rem;
    color: black;
    background-color: #495057;
    border-top: none;
    outline: none;
    line-height: 1.5;
    background-clip: padding-box;
}

.titlePrice {
    display: block;
    height: 30px;
}

.title {
    font-size: 1rem;
    position: relative;
    padding-left: 5px;
}

.resElement img {
    border-radius: 10px;
}

.resElement:hover {
    background-color: white;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.resElement {
    cursor: pointer;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #fff;
    border-radius: 10px;

    /*border-radius: 25px 0 0 25px;*/
    display: flex;
    width: 250px;
    margin: 10px;
    height: 40px;
    top: 10px;
}


.links a {
    width: max-content;
}

.button {
    height: 38px;
    margin-left: 13px;
}

.inputSearch {
    width: 270px;
    margin-left: 20px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.price {
    position: relative;
    opacity: 0.5;
    bottom: 0;
    margin-top: -7px;
    padding-left: 5px;
}

.inputSearch:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.logo {
    width: 40px;
}

.container {

}

.header {
    height: 50px;
    background-color: #444851;
}

.links a a:hover {
    text-decoration: none;
    color: #EF7E1F;
}
