.nav {
    display: flex;
}

.logoName {
    font-family: Roboto;
    font: bold;
    position: absolute;
    font-size: 60px;
    color: #EF7E1F;
    max-width: 60px;
}

.navLinks {
    margin-left: auto;
    position: relative;
    left: 220px;
    top: 10px;
    margin-right: auto;
    display: flex;
    font-family: Roboto;
    font: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.navLinks a {
    color: #000;
}

.navLinks a:hover {
    color: #000;
    text-decoration: none;
}


