.nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logoName {
    font-family: Roboto;
    font: bold;
    font-size: 60px;
    color: #EF7E1F;
}

.navLinks {
    display: flex;
    font-family: Roboto;
    font: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
}
