.wrapper {
    background-color: #444851;
    height: 400px;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
}


.title {
    border-bottom: 2px solid #FE6700;
    padding-bottom: 3px;
    width: 300px;
}
