.slider {
    width: 1000px;
    margin-left: auto;
    padding-top: 20px;
}

.sliderImg {

}

.sliderImg img {

}

.caption {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.slider li{
    border-radius: 100%;
    width: 15px !important;
    height: 15px !important;
}

.slider img {
    max-width: 1000px;
    min-width: 1000px;
}

.sliderImg img {
    width: 1000px;
}
