/*.slider {*/
/*    width: 1400px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    !*padding-top: 20px;*!*/
/*}*/

/*.sliderImg {*/

/*}*/

/*.sliderImg img {*/

/*}*/

/*.caption {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-bottom: 20px;*/
/*}*/


/*.slider li{*/
/*    border-radius: 100%;*/
/*    width: 15px !important;*/
/*    height: 15px !important;*/
/*}*/

/*.slider img {*/
/*    max-width: 1400px;*/
/*    min-width: 1400px;*/
/*}*/

/*.sliderImg img {*/
/*    width: 1400px;*/
/*}*/
.bg {
    background-size: 100% !important;
    width: 100vw !important;
    min-width: 100vw !important;
}


.center p {
    color: #000;
    font-size: 25px;
}

.center {
    position: relative;
    top: 60%;
    text-align: center;
}

.btn {
    border: none;
    background: #fe6700;
    border-radius: 30px;
    box-sizing: border-box;
    transition: background .5s ease, color .5s ease;
    padding: 10px 40px;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
}

.btn:hover {
    color: #ffffff;
    background: #222222;
}
