.slider {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.slider img {
    max-width: 1200px;
    min-width: 1200px;
}

.sliderImg img {
    width: 1200px;
}
